/* Estilos generales */
body {
    background:
        url('../img/fondo_textura.jpeg') fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

/* Hero Section*/
.hero-container {
    background-image: url("../img/fondo_carta.webp");
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: fixed;
    padding: 2rem 0;
}

.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.content-box {
    background: rgb(214, 34, 33);
    border: none;
    padding: 2.5rem 3rem;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
    color: white;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    animation: fadeIn 1s ease-out;
}

.comeycalla {
    font-size: 3.2rem;
    color: black;
    margin-bottom: 0.2rem;
    line-height: 1.1;
    animation: slideIn 1.2s ease-out;
}

.buffet-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    animation: slideIn 1.8s ease-out;
}

.tagline {
    font-style: italic;
    font-size: 1.1rem;
    color: black;
    animation: slideIn 2.3s ease-out;
}

/* Carta */
.menu-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 6rem 1rem 3rem;
    background-color: #f8f9fa;
}

.menu-images img {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-images img:hover {
    transform: scale(1.03);
}

/* Animaciones */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .comeycalla {
        font-size: 2.5rem;
    }
    .españa {
        font-size: 1.5rem;
    }
    .content-box {
        padding: 2rem;
    }
}