{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Roles - Come y Calla</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/gestionar.css' %}">
</head>
<body>

{% include "navbar.html" %}

<main class="contenedor-principal">
    <div class="seleccion-rol">
        <h1>¿Bienvenido, cuál es tu rol?</h1>

        <div class="contenedor-botones">
            <a href="#" class="boton-rol boton-camarero">
                <i class="fas fa-utensils"></i>
                <span>Camarero</span>
            </a>
            <a href="#" class="boton-rol boton-cocinero">
                <i class="fas fa-fire"></i>
                <span>Cocinero</span>
            </a>
            <a href="#" class="boton-rol boton-admin">
                <i class="fas fa-user-cog"></i>
                <span>Administrador</span>
            </a>
        </div>
    </div>
</main>
<br>

{% include "footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>