{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Come y Calla{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg barra-navegacion">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home_page' %}">
            <img src="{% static 'img/logoComeyCalla.png' %}" alt="Buffet Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuPrincipal">
            <ul class="navbar-nav mx-auto menu-principal">
                <li class="nav-item"><a class="nav-link enlace-menu" href="{% url 'home_page' %}">INICIO</a></li>
                <li class="nav-item"><a class="nav-link enlace-menu" href="{% url 'about_us_page' %}">SOBRE NOSOTROS</a>
                </li>
                <li class="nav-item"><a class="nav-link enlace-menu" href="{% url 'carta_page' %}">NUESTRA CARTA</a>
                </li>
                <li class="nav-item"><a class="nav-link enlace-menu" href="{% url 'contacto_page' %}">CONTACTO</a></li>
            </ul>
            <div class="dropdown">
                <button class="btn dropdown-toggle btn-menu-principal" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown">
                    Menú
                </button>
                <ul class="dropdown-menu dropdown-menu-end menu-comeycalla">
                    {% if user.is_authenticated %}
                        <li><a class="dropdown-item btn-menu-item" href="{% url 'historial_pedidos' %}">Mis pedidos</a>
                        </li>

                        <li>
                            <form action="{% url 'logout' %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item btn-menu-item btn-logout">Cerrar sesión
                                </button>
                            </form>
                        </li>
                    {% else %}
                        <li><a class="dropdown-item btn-menu-item" href="{% url 'login_page' %}">Iniciar sesión</a></li>
                        <li><a class="dropdown-item btn-menu-item" href="{% url 'register_page' %}">Registrarse</a></li>
                    {% endif %}
                    <li><a class="dropdown-item btn-menu-item" href="{% url 'gestionar_page' %}">Gestionar</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
