{% block content %}
  <h2>Platos Favoritos</h2>
  <ul class="list-group">
    {% for plato in platos %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>{{ plato.plato__nombre }}</strong> - {{ plato.plato__tipo }} - {{ plato.plato__precio }}€
        <span class="badge bg-primary rounded-pill">{{ plato.total_pedidos }} pedidos</span>
      </li>
    {% empty %}
      <li class="list-group-item">Aún no hay platos favoritos.</li>
    {% endfor %}
  </ul>
{% endblock %}
